:root {
  /* Font sizes */
  --font-size-xsmall: 11px;
  --font-size-tiny: 12px;
  --font-size-small: 13px;
  --font-size-default: 16px;
  --font-size-h1: 36px;
  --font-size-h2: 24px;
  --font-size-h3: 18px;
  --font-size-h4: 16px;

  /* Spacing sizes */
  --size-tiny: 4px;
  --size-small: 8px;
  --size-default: 16px;
  --size-medium: 24px;
  --size-large: 32px;
  --size-xlarge: 64px;
  --size-xxlarge: 128px;
  --size-max-width: 1400px;

  /* Breakpoints */
  --breakpoint-xsmall: 320px;
  --breakpoint-small: 480px;
  --breakpoint-medium: 767px;
  --breakpoint-large: 1024px;
  --breakpoint-xlarge: 1200px;
  --breakpoint-xxlarge: 1440px;
  --breakpoint-xxxlarge: 1920px;

  /* Header heights */
  --header-banner-height: 40px;
  --header-navbar-height: 95px;
  --header-navbar-mobile-height: 56px;
  --header-docs-mobile-menu-height: 52px;
  --header-navbar-scroll-offset: 85px;
  --header-action-bar-mobile-height: 60px;
  --header-composable-desktop-height: 90px;
  --header-composable-mobile-height: 190px;

  /* Widget heights */
  --widgets-button-container-mobile-height: 60px;

  /* Transition speeds */
  --transition-speed-ia-exit: 100ms;
  --transition-speed-ia-enter: 200ms;
  --transition-speed-content-fade: 300ms;

  /* Z-indexes */
  --zindex-content: 1;
  --zindex-action-bar: 800;
  --zindex-sidenav: 900;
  --zindex-header: 1000;
  --zindex-widgets: 2000;
  --zindex-popovers: 10000;
}