.document { 
  --max-on-this-page-width: 200px;
  --max-content-width: 775px;
  --max-content-width-large-screen: 884px;
  --max-content-value: calc((var(--max-content-width) + var(--size-xlarge) * 2) + (var(--max-on-this-page-width) + 5px + var(--size-medium) ));
  --max-content-value-large-screen: (var(--max-content-width-large-screen) + var(--size-xlarge) * 2) + (var(--max-on-this-page-width) + 5px + var(--size-medium));

  display: grid;
  grid-template-areas: 'main right';
  grid-template-columns: minmax(0, calc(var(--max-content-width) + var(--size-xlarge) * 2)) 1fr;
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-content-value);

  @media not all and (max-width: 1920px) {
    grid-template-columns: minmax(0, calc(var(--max-content-value-large-screen) + var(--size-xlarge) * 2)) 1fr;
    max-width: var(--max-content-value-large-screen);
  }
}


.main-column {
  grid-area: main;
  max-width: var(--max-content-width);

  @media not all and (max-width: 1920px) {
    max-width: var(--max-content-width-large-screen);
  }
}